@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "black";
  default: true;
  --color-primary: rgb(29, 155, 240);
  --color-secondary: rgb(24, 24, 24);
}

@layer utilities {
  input:-webkit-autofill {
    box-shadow: 0 0 0 1000px black inset !important;
    -webkit-text-fill-color: white !important;
  }
}

html {
  overflow-y: scroll;
}